
:root {
    --bs-primary: #0056b3; 
}


body {
    background-color: #f4f4f8;
    color: #333;
}

h1, h2, h3, h4 {
    margin-top: 0.5rem;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: #003975;
    border-color: #003975;
}

.form-control, .btn {
    margin-top: 0.5rem;
}

